+container()

	//- -------------------------------------------------------------------
	+row().secondary
	
		//- .text-pad, .left-text-pad and .right-text-pad.
		+column( 'twelve', true ).text-pad
		
			h1.center Main Headline
			p.lead Slightly bolder leading paragraph assigned with the 'lead' class on a paragraph
			p Regular paragraph that contains the introductionary content
	+row
		+column
			+panel
				p Panel
	hr
	
	//- -------------------------------------------------------------------
	+row()
		//- arguments ( up-to 12:column size, is-the-last:boolean=false, centralise:boolean=false )
		+column(12)
			h2 Grids with equal column widths
			
	+row()
		+column( 6, false, true ).secondary
			h5 Six A
		+column( 6, true, true )
			h5 Six B
			
	+row()
		+column( 4, false, true ).secondary
			h5 Four A
		+column( 4, false, true )
			h5 Four B
		+column( 4, true, true ).secondary
			h5 Four C
			
	+row()
		+column( 3, false, true ).secondary
			h5 Three A
		+column( 3, false, true )
			h5 Three B
		+column( 3, false, true ).secondary
			h5 Three C
		+column( 3, true, true )
			h5 Three D	
			
	+row()
		+column( 2, false, true ).secondary
			h5 Two A
		+column( 2, false, true )
			h5 Two B
		+column( 2, false, true ).secondary
			h5 Two C
		+column( 2, false, true )
			h5 Two D
		+column( 2, false, true ).secondary
			h5 Two E
		+column( 2, true, true )
			h5 Two F
			
	+row()
		+column( 1, false, true ).secondary
			p One A
		+column( 1, false, true )
			p One B
		+column( 1, false, true ).secondary
			p One C
		+column( 1, false, true )
			p One D
		+column( 1, false, true ).secondary
			p One E
		+column( 1, false, true )
			p One F
		+column( 1, false, true ).secondary
			p One G
		+column( 1, false, true )
			p One H
		+column( 1, false, true ).secondary
			p One I
		+column( 1, false, true )
			p One J
		+column( 1, false, true ).secondary
			p One K
		+column( 1, true, true )
			p One L
		
	hr
	
	+row()
		//- arguments ( up-to 12:column size, is-the-last:boolean=false, centralise:boolean=false )
		+column(12)
			h2 Grids with varying column widths
			
	+row()
		+column( 1, false, false ).secondary
			h5 One A
		+column( 11, true, false )
			h5 Eleven B
					
	+row()
		+column( 8, false, false ).secondary
			h5 Eight A
		+column( 4, true, false )
			h5 Four B
			
	+row()
		+column( 8, false, false ).secondary
			h5 Eight A
		+column( 2, false, false )
			h5 Two B
		+column( 2, true, false ).secondary
			h5 Two C
					
	hr
	
	//- -------------------------------------------------------------------
	+row().success
		+column( 12, true, false )
			h1.center Centralisation test!
			+button('http://awesomething.co.uk','Click Here').tiny-button
	+row()
		+column( 6, false, true )
			p Centralisation test!
			
		+column( 6, true, true )
			+image('http://placehold.it/200x50',true)
						
	//- -------------------------------------------------------------------
	+row()
		+column(12)
			h5 Images
			
	//- -------------------------------------------------------------------
	+row()
		+column(12)
			h5 Buttons
			+large-button('http://awesomething.co.uk','Primary!')
			+large-button('http://awesomething.co.uk','Secondary!').secondary
			+large-button('http://awesomething.co.uk','Success!').success
			br
			+large-button('http://awesomething.co.uk','Alert!').alert
			
	//- -------------------------------------------------------------------
	+row()
		+column(6, false )
			+subgrid()
				+subcolumn( 6, false )
					p subcolumn 1
				+subcolumn( 6, false )
					p subcolumn 2
				+subcolumn( 6, false )
					p subcolumn 3
				+subcolumn( 6, false )
					p subcolumn 4
				+subcolumn( 6, false )
					p subcolumn 5
				+subcolumn( 6, true )
					p subcolumn 6
					
		+column(6, true )
			+subgrid()
				+subcolumn( 8, false )
					p subcolumn 1
				+subcolumn( 8, false )
					p subcolumn 2
				+subcolumn( 8, false )
					p subcolumn 3
				+subcolumn( 8, false )
					p subcolumn 4
				+subcolumn( 8, false )
					p subcolumn 5
				+subcolumn( 8, true )
					p subcolumn 6
				+subcolumn( 8, true )
					p subcolumn 7
				+subcolumn( 8, true )
					p subcolumn 8
				
	//- -------------------------------------------------------------------
	+row()
		+column( 1, false, true ).
			One A
		+column( 1, false, true ).
			One B
		+column( 1, false, true ).
			One C
		+column( 1, false, true ).
			One D 
		+column( 1, false, true ).
			One E
		+column( 1, false, true ).
			One F
		+column( 1, false, true ).
			One G
		+column( 1, false, true ).
			One H
		+column( 1, false, true ).
			One I
		+column( 1, false, true ).
			One J
		+column( 1, false, true ).
			One K
		+column( 1, true, true ).
			One L
		
	//- -------------------------------------------------------------------
	+row()
		+column( 6, false, false )
			+panel()
				p And a little panel too :P
					
		+column( 6, true, false )
			+panel()
				p And a little panel too :P
				
	//- -------------------------------------------------------------------
	+row()
		h2 Offsets
		+column( 4, true, true, 8 )
			h4 Offset by eight
			
	+row()
		+column( 8, true, true, 4 )
			h4 Offset by four
		
	//- -------------------------------------------------------------------
	+row()
		+column( 'one', false, true )
			+button('http://awesomething.co.uk','Click Here').tiny-button
		+column( 'one', false, true )
			+button('http://awesomething.co.uk','Click Here').tiny-button
		+column( 'one', false, true )
			+button('http://awesomething.co.uk','Click Here').tiny-button
		+column( 'one', false, true )
			+button('http://awesomething.co.uk','Click Here').tiny-button
		+column( 'one', false, true )
			+button('http://awesomething.co.uk','Click Here').tiny-button
		+column( 'one', false, true )
			+button('http://awesomething.co.uk','Click Here').tiny-button
		+column( 'one', false, true )
			+button('http://awesomething.co.uk','Click Here').tiny-button
		+column( 'one', false, true )
			+button('http://awesomething.co.uk','Click Here').tiny-button
		+column( 'one', false, true )
			+button('http://awesomething.co.uk','Click Here').tiny-button
		+column( 'one', false, true )
			+button('http://awesomething.co.uk','Click Here').tiny-button
		+column( 'one', false, true )
			+button('http://awesomething.co.uk','Click Here').tiny-button
		+column( 'one', true, true )
			+button('http://awesomething.co.uk','Click Here').tiny-button
		
	//- -------------------------------------------------------------------
	+row()
		+column( 'twelve', true, true )
			+large-button('http://awesomething.co.uk','Click Here')
			
	//- -------------------------------------------------------------------
	+row()
		+column( 'twelve', true, true )
			+retinaImage()( width=100, height=200 )
			br
			+image('http://placehold.it/200x50')
			
	+row()
		+column( 'twelve', true, true )
			span.mobile_link 123-456-7890
			
	//- -------------------------------------------------------------------
	+row()
		//- arguments ( up-to 12:column size, is-the-last:boolean=false, centralise:boolean=false )
		+column(12)
			h2 Stackable Blocks
			
	+blocks( 2 )
		+blockContent().secondary
			p 1
		+blockContent()
			p 2

	+blocks( 4 )
		+blockContent().secondary
			p 1
		+blockContent()
			p 2
		+blockContent().secondary
			p 3
		+blockContent()
			p 4
			
	+blocks( 5 )
		+blockContent().secondary
			p 1
		+blockContent()
			p 2
		+blockContent().secondary
			p 3
		+blockContent()
			p 4		
		+blockContent().secondary
			p 5
