extends ../libs/email-base	
block email
	+container()
		
		//- -------------------------------------------------------------------
		+row().contact
			+column( 'twelve', true, true )
				h1 Use these words
				p.
					Trust
					Fair Price
					Caring
					Fair Treatment
					Quality
					Competency
					Apologize/Sorry
					Change
					Never
					Always
					Privacy
					a(href='#') Click it! &raquo;
				
				
		+row().contact
			+column( 'twelve', true, true )
				a(href='#') Terms
				a(href='#') Privacy
				a(href='#') Unsubscribe
				a(href='mailto:info@address.com') info@address.com