//- Load in our base file
extends libs/email-base

//-
	Docs :
	Element Class Name 	Description
	table 	container 	Constrains the content to a 580px wrapper on large screens (95% on small screens) and centers it within the body.
	table 	row 		Separates each row of content.
	td 		wrapper 	Wraps each .columns table, in order to create a gutter between columns and force them to expand to full width on small screens.
	td 		last 		Class applied to the last .wrapper td in each row in order for the gutter to work properly. If you only have one (presumably full-width) .columns table (and therefore one .wrapper td) in a row, the .wrapper td still needs to have the last class applied to it.
	table 	{number} 	Can be any number between one and twelve (spelled out). Used to determine how wide your .columns tables are. The number of columns in each row should add up to 12, including offset columns .
	table 	columns 	Table that displays as n-twelfths of the width of the 580px .container table on large screens, and expands to the full width of the .container table on small screens.
	td 		expander 	An empty (and invisible) element added after the content element in a .columns table. It forces the content td to expand to the full width of the screen on small devices, instead of just the width of the content within the td.


block email
	//- Start editting :
	//- ----------------------- >8 ----------------------
	//- example
	include tests/test.jade